*.un~
*.swp
tags
target
project/boot
.history
project.vim
*.old
.idea
.project
.classpath
.metadata/
.gitignore
.vscode/settings.json
.bloop/
.metals/
.bsp/
project/project/metals.sbt
project/metals.sbt
